# 1. 忽略特定文件夹
cache/
lkcache/
logs/
.vs/
.vscode/
__pycache__/
QBot2/
botdata/
Novels/
browser_downloads/
yunzai/
log/
temp_images/

# 2. 忽略特定扩展名的文件
*.log
*.epub

# 3. 忽略特定文件
last_checkin.txt
Begin.bat
config.yaml
pgrjzauth.json
auth.json
key.json
command.txt
.env
